
Redirect 301 /?p=3256 /pt/noticia/maquinas-de-cafe-3256
Redirect 301 /?p=6 /pt/noticias
Redirect 301 /?page_id=110 /pt/noticias
Redirect 301 /?page_id=124 /pt/noticias
Redirect 301 /?page_id=133 /pt/noticias
Redirect 301 /?page_id=148 /pt/noticias
Redirect 301 /?page_id=86 /pt/noticias
Redirect 301 /a-arte-da-torra-de-cafe-uma-jornada-entre-tempo-temperatura-e-tecnica/ /pt/noticia/a-arte-da-torra-de-cafe-uma-jornada-entre-tempo-temperatura-e-tecnica-3490
Redirect 301 /a-cada-xicara-uma-dose-de-saude-descubra-os-beneficios-do-cafe-para-a-saude/ /pt/noticia/a-cada-xicara-uma-dose-de-saude-descubra-os-beneficios-do-cafe-para-a-saude-3274
Redirect 301 /a-ciencia-da-agua-no-cafe-como-a-qualidade-da-agua-afeta-o-sabor-do-cafe/ /pt/noticia/a-ciencia-da-agua-no-cafe-como-a-qualidade-da-agua-afeta-o-sabor-do-cafe-3501
Redirect 301 /a-evolucao-dos-torradores-de-cafe/ /pt/noticia/a-evolucao-dos-torradores-de-cafe-3998
Redirect 301 /a-importancia-de-armazenar-o-cafe-corretamente/ /pt/noticia/a-importancia-de-armazenar-o-cafe-corretamente-3654

Redirect 301 /blend-de-cafe-vs-origem-unica-qual-a-diferenca/ /pt/noticia/blend-de-cafe-vs-origem-unica-qual-a-diferenca-3352

Redirect 301 /cafe-a-importancia-da-agua-filtrada-durante-o-preparo/ /pt/noticia/cafe-a-importancia-da-agua-filtrada-durante-o-preparo-3575
Redirect 301 /cafe-arabica-flores-hermafroditas-e-auto-fertilidade/ /pt/noticia/cafe-arabica-flores-hermafroditas-e-auto-fertilidade-3357
Redirect 301 /cafe-de-processo-natural-como-funciona/ /pt/noticia/cafe-de-processo-natural-como-funciona-3630
Redirect 301 /cafe-descafeinado-o-que-e-e-como-e-feito/ /pt/noticia/cafe-descafeinado-o-que-e-e-como-e-feito-3419
Redirect 301 /cafe-e-cacau-conheca-algumas-semelhancas/ /pt/noticia/cafe-e-cacau-conheca-algumas-semelhancas-3543
Redirect 301 /cafe-e-cultura-uma-viagem-global-atraves-da-torra-e-do-consumo/ /pt/noticia/cafe-e-cultura-uma-viagem-global-atraves-da-torra-e-do-consumo-3452
Redirect 301 /cafe-neutro-em-carbono-e-um-sonho-possivel/ /pt/noticia/cafe-neutro-em-carbono-e-um-sonho-possivel-3329
Redirect 301 /cafe-organico-qual-a-diferenca-para-o-cafe-convencional/ /pt/noticia/cafe-organico-qual-a-diferenca-para-o-cafe-convencional-3771
Redirect 301 /cafe-pelo-mundo-cultura-atraves-da-xicara/ /pt/noticia/cafe-pelo-mundo-cultura-atraves-da-xicara-3514
Redirect 301 /cafes-organicos-dos-andes/ /pt/noticia/cafes-organicos-dos-andes-4027
Redirect 301 /cafes-raros-e-exoticos/ /pt/noticia/cafes-raros-e-exoticos-3559
Redirect 301 /campeonato-mundial-de-torra-de-cafe-acontece-em-novembro-e-traz-novas-regras/ /pt/noticia/campeonato-mundial-de-torra-de-cafe-acontece-em-novembro-e-traz-novas-regras-3318
Redirect 301 /category/cafe-2/page/2/ /pt/noticias?category=cafe
Redirect 301 /category/cafe/ /pt/noticias?category=cafe
Redirect 301 /category/coffee-2/page/2/ /pt/noticias?category=cafe
Redirect 301 /category/maquinas-para-torrefacao/ /pt/produto/Torrador-a-gas-4
Redirect 301 /category/torra-de-cafe/ /pt/produto/Torrador-a-gas-4
Redirect 301 /como-a-pre-infusao-pode-elevar-o-sabor-do-cafe/ /pt/noticia/como-a-pre-infusao-pode-elevar-o-sabor-do-cafe-3391
Redirect 301 /como-os-graos-de-cafe-reagem-ao-calor-da-torra/ /pt/noticia/como-os-graos-de-cafe-reagem-ao-calor-da-torra-3919
Redirect 301 /conheca-as-3-principais-podas-de-cafe/ /pt/noticia/conheca-as-3-principais-podas-de-cafe-3406
Redirect 301 /consumo-de-cafe-eua-lidera-o-ranking-e-o-brasil-esta-no-topo-da-producao/ /pt/noticia/consumo-de-cafe-eua-lidera-o-ranking-e-o-brasil-esta-no-topo-da-producao-3953

Redirect 301 /contato/?gad_source=1&gad_campaignid=19744894250&gbraid=0AAAAACdbeZsUtYegtlAAdTHqqtec87Jho&gclid=Cj0KCQjw9obIBhCAARIsAGHm1mQmZmm1-DxfB7aEs7eVvBDc_gx7k76od5mLuq9N6t47eIQlguKu6GEaAjSHEALw_wcB /pt#contato
Redirect 301 /contato/?gad_source=1&gad_campaignid=19744894250&gbraid=0AAAAACdbeZsUtYegtlAAdTHqqtec87Jho&gclid=Cj0KCQjw9obIBhCAARIsAGHm1mRilpY0aowL6awWb3lTl3Yz80j0hLiHlu_FVopMA1-_b4pyHYwPd3AaAn6TEALw_wcB /pt#contato
Redirect 301 /contato/?gad_source=1&gad_campaignid=19744894250&gbraid=0AAAAACdbeZsUtYegtlAAdTHqqtec87Jho&gclid=Cj0KCQjw9obIBhCAARIsAGHm1mSQG1Jo6Eg8qaBZtZZQV5zaz0IpctE6K2NUOWYDeFYzz25X7AjkBXIaAnbbEALw_wcB /pt#contato

Redirect 301 /cotacao/?gad_source=1&gad_campaignid=19744894250&gbraid=0AAAAACdbeZsUtYegtlAAdTHqqtec87Jho&gclid=Cj0KCQjw9obIBhCAARIsAGHm1mR1WeigGEsENPUKDID9Rqw8UtOGr_zY01ryVvB_bybhFFiwHRKlHlAaAg5mEALw_wcB /pt#contato
Redirect 301 /cotacao/?gad_source=1&gad_campaignid=19744894250&gbraid=0AAAAACdbeZsUtYegtlAAdTHqqtec87Jho&gclid=Cj0KCQjw9obIBhCAARIsAGHm1mReD69XvIElpXsnkOvEy8uIzLHVDEWdjHvFuu5MoJRQjvYNeMnCEXQaAmLlEALw_wcB /pt#contato

Redirect 301 /cultivo-do-cafe-como-a-altitude-influencia-no-sabor/ /pt/noticia/cultivo-do-cafe-como-a-altitude-influencia-no-sabor-3977
Redirect 301 /cupping-como-a-qualidade-do-cafe-e-avaliada-pelo-mercado/ /pt/noticia/cupping-como-a-qualidade-do-cafe-e-avaliada-pelo-mercado-3323
Redirect 301 /curiosidades-sobre-o-cafe/ /pt/noticia/curiosidades-sobre-o-cafe-2514
Redirect 301 /curva-de-torra-o-que-e-e-como-afeta-o-sabor-do-cafe/ /pt/noticia/curva-de-torra-o-que-e-e-como-afeta-o-sabor-do-cafe-3617
Redirect 301 /da-torrefacao-as-prateleiras-como-levar-a-sua-marca-de-cafe-aos-mercados/ /pt/noticia/da-torrefacao-as-prateleiras-como-levar-a-sua-marca-de-cafe-aos-mercados-3346
Redirect 301 /desvendando-o-cafe-como-desenvolver-um-perfil-de-sabor-especifico/ /pt/noticia/desvendando-o-cafe-como-desenvolver-um-perfil-de-sabor-especifico-3334
Redirect 301 /do-grao-a-xicara-como-o-cafe-chega-ate-voce/ /pt/noticia/do-grao-a-xicara-como-o-cafe-chega-ate-voce-3299

Redirect 301 /en/arabica-coffee-hermaphrodite-flowers-and-self-fertility/ /pt/noticia/arabica-coffee-hermaphrodite-flowers-and-self-fertility-3371
Redirect 301 /en/blend-vs-single-origin-whats-the-difference/ /pt/noticia/blend-vs-single-origin-whats-the-difference-3363
Redirect 301 /en/coffee-and-cocoa-discover-some-similarities/ /pt/noticia/coffee-and-cocoa-discover-some-similarities-3549
Redirect 301 /en/coffee-and-culture-a-global-journey-through-roasting-and-consumption/ /pt/noticia/coffee-and-culture-a-global-journey-through-roasting-and-consumption-3458
Redirect 301 /en/coffee-around-the-world-culture-through-the-cup/ /pt/noticia/coffee-around-the-world-culture-through-the-cup-3525
Redirect 301 /en/coffee-beans-discover-some-that-are-produced-in-brazil/ /pt/noticia/coffee-beans-discover-some-that-are-produced-in-brazil-3692
Redirect 301 /en/coffee-beans-discover-the-main-types/ /pt/noticia/coffee-beans-discover-the-main-types-3537
Redirect 301 /en/coffee-consumption-usa-leads-the-ranking-and-brazil-is-at-the-top-of-production/ /pt/noticia/coffee-consumption-usa-leads-the-ranking-and-brazil-is-at-the-top-of-production-3958
Redirect 301 /en/coffee-cultivation-how-altitude-influences-flavor/ /pt/noticia/coffee-cultivation-how-altitude-influences-flavor-3988
Redirect 301 /en/coffee-preparation-cloth-strainer-and-paper-filter/ /pt/noticia/coffee-preparation-cloth-strainer-and-paper-filter-3600
Redirect 301 /en/coffee-production-who-is-the-largest-producer-in-the-world/ /pt/noticia/coffee-production-who-is-the-largest-producer-in-the-world-3673
Redirect 301 /en/coffee-roaster-what-to-consider-before-purchasing-the-equipment/ /pt/noticia/coffee-roaster-what-to-consider-before-purchasing-the-equipment-3971
Redirect 301 /en/coffee-roasting-general-concepts-and-heat-transfer/ /pt/noticia/coffee-roasting-general-concepts-and-heat-transfer-3690
Redirect 301 /en/coffee-roasting-learn-what-to-do-to-increase-production-yield/ /pt/noticia/coffee-roasting-learn-what-to-do-to-increase-production-yield-3730
Redirect 301 /en/coffee-roasting-the-impact-of-roast-quality-on-the-gourmet-market/ /pt/noticia/coffee-roasting-the-impact-of-roast-quality-on-the-gourmet-market-3609
Redirect 301 /en/coffee-roasting-what-happens-between-turning-point-and-first-crack/ /pt/noticia/coffee-roasting-what-happens-between-turning-point-and-first-crack-4046
Redirect 301 /en/coffee-the-importance-of-filtered-water-during-preparation/ /pt/noticia/coffee-the-importance-of-filtered-water-during-preparation-3584

Redirect 301 /en/decaffeinated-coffee-what-is-it-and-how-is-it-made/ /pt/noticia/decaffeinated-coffee-what-is-it-and-how-is-it-made-3425
Redirect 301 /en/discover-the-3-main-coffee-pruning-methods/ /pt/noticia/discover-the-3-main-coffee-pruning-methods-3413
Redirect 301 /en/do-you-know-what-mocha-coffee-beans-are/ /pt/noticia/do-you-know-what-mocha-coffee-beans-are-3742
Redirect 301 /en/exploring-the-universe-of-specialty-coffees-and-their-certifications/ /pt/noticia/exploring-the-universe-of-specialty-coffees-and-their-certifications-3447

Redirect 301 /en/how-can-pre-infusion-elevate-the-flavor-of-coffee/ /pt/noticia/how-can-pre-infusion-elevate-the-flavor-of-coffee-3397
Redirect 301 /en/how-coffee-beans-react-to-roasting-heat/ /pt/noticia/how-coffee-beans-react-to-roasting-heat-3927
Redirect 301 /en/learn-how-coffee-flavor-is-formed/ /pt/noticia/learn-how-coffee-flavor-is-formed-3786
Redirect 301 /en/naturally-processed-coffee-how-does-it-work/ /pt/noticia/naturally-processed-coffee-how-does-it-work-3639
Redirect 301 /en/organic-coffee-whats-the-difference-between-it-and-conventional-coffee/ /pt/noticia/organic-coffee-whats-the-difference-between-it-and-conventional-coffee-3782
Redirect 301 /en/organic-coffees-from-the-andes/ /pt/noticia/organic-coffees-from-the-andes-4034
Redirect 301 /en/privacy-policy/ /en/pagina/privacy-policy

Redirect 301 /en/products/ecological-furnaces/ /en/produtos
Redirect 301 /en/products/grinder/ /en/produtos
Redirect 301 /en/products/industrial-automation/ /en/produtos
Redirect 301 /en/products/reprocessing-machine/ /en/produtos
Redirect 301 /en/products/roasters/ /en/produtos
Redirect 301 /en/products/storage-silos/ /en/produtos
Redirect 301 /en/rare-and-exotic-coffees/ /pt/noticia/rare-and-exotic-coffees-3567
Redirect 301 /en/roasting-curve-what-it-is-and-how-it-affects-the-flavor-of-coffee/ /pt/noticia/roasting-curve-what-it-is-and-how-it-affects-the-flavor-of-coffee-3622
Redirect 301 /en/sebastiana-pimentel-the-revolution-in-brazilian-coffee-farming/ /pt/noticia/sebastiana-pimentel-the-revolution-in-brazilian-coffee-farming-3766

Redirect 301 /en/specialty-coffee-scoring-what-is-it-and-how-does-it-work/ /pt/noticia/specialty-coffee-scoring-what-is-it-and-how-does-it-work-3651
Redirect 301 /en/the-art-of-coffee-roasting-a-journey-between-time-temperature-and-technique/ /pt/noticia/the-art-of-coffee-roasting-a-journey-between-time-temperature-and-technique-3496
Redirect 301 /en/the-evolution-of-coffee-roasters/ /pt/noticia/the-evolution-of-coffee-roasters-4004
Redirect 301 /en/the-importance-of-storing-coffee-correctly/ /pt/noticia/the-importance-of-storing-coffee-correctly-3660
Redirect 301 /en/the-perfect-roasters-guide-how-do-i-choose-my-roaster/ /pt/noticia/the-perfect-roasters-guide-how-do-i-choose-my-roaster-3483
Redirect 301 /en/the-role-of-grinding-in-coffee-flavor/ /pt/noticia/the-role-of-grinding-in-coffee-flavor-3435
Redirect 301 /en/the-role-of-grinding-in-the-sensory-profile-of-coffee/ /pt/noticia/the-role-of-grinding-in-the-sensory-profile-of-coffee-3946
Redirect 301 /en/the-role-of-humidity-in-the-coffee-roasting-process/ /pt/noticia/the-role-of-humidity-in-the-coffee-roasting-process-3804
Redirect 301 /en/the-science-of-water-in-coffee-how-water-quality-affects-coffee-flavor/ /pt/noticia/the-science-of-water-in-coffee-how-water-quality-affects-coffee-flavor-3507
Redirect 301 /en/what-are-mocha-coffee-beans/ /pt/noticia/what-are-mocha-coffee-beans-4019
Redirect 301 /en/what-are-the-health-benefits-of-specialty-coffee/ /pt/noticia/what-are-the-health-benefits-of-specialty-coffee-3470
Redirect 301 /en/what-is-coffee-to-go/ /pt/noticia/what-is-coffee-to-go-3990
Redirect 301 /en/what-is-crack-in-coffee-roasting-and-why-is-it-important/ /pt/noticia/what-is-crack-in-coffee-roasting-and-why-is-it-important-3820
Redirect 301 /en/women-in-leadership-in-coffee-production/ /pt/noticia/women-in-leadership-in-coffee-production-3753
Redirect 301 /es/3486/ /pt/noticia/3486-3486
Redirect 301 /es/aprenda-como-se-forma-el-sabor-del-cafe/ /pt/noticia/aprenda-como-se-forma-el-sabor-del-cafe-3791

Redirect 301 /es/cafe-arabica-flores-hermafroditas-y-autofertilidad/ /pt/noticia/cafe-arabica-flores-hermafroditas-y-autofertilidad-3382
Redirect 301 /es/cafe-de-proceso-natural-como-funciona/ /pt/noticia/cafe-de-proceso-natural-como-funciona-3636
Redirect 301 /es/cafe-descafeinado-que-es-y-como-se-elabora/ /pt/noticia/cafe-descafeinado-que-es-y-como-se-elabora-3428
Redirect 301 /es/cafe-en-el-mundo-cultura-a-traves-de-la-taza/ /pt/noticia/cafe-en-el-mundo-cultura-a-traves-de-la-taza-3528
Redirect 301 /es/cafe-la-importancia-del-agua-filtrada-durante-la-preparacion/ /pt/noticia/cafe-la-importancia-del-agua-filtrada-durante-la-preparacion-3581
Redirect 301 /es/cafe-organico-cual-es-la-diferencia-con-el-cafe-convencional/ /pt/noticia/cafe-organico-cual-es-la-diferencia-con-el-cafe-convencional-3789
Redirect 301 /es/cafe-y-cacao-descubre-algunas-similitudes/ /pt/noticia/cafe-y-cacao-descubre-algunas-similitudes-3555
Redirect 301 /es/cafe-y-cultura-un-viaje-global-a-traves-del-tostado-y-el-consumo/ /pt/noticia/cafe-y-cultura-un-viaje-global-a-traves-del-tostado-y-el-consumo-3461
Redirect 301 /es/cafes-organicos-de-los-andes/ /pt/noticia/cafes-organicos-de-los-andes-4037
Redirect 301 /es/cafes-raros-y-exoticos/ /pt/noticia/cafes-raros-y-exoticos-3571
Redirect 301 /es/como-puede-la-preinfusion-realzar-el-sabor-del-cafe/ /pt/noticia/como-puede-la-preinfusion-realzar-el-sabor-del-cafe-3403
Redirect 301 /es/como-reaccionan-los-granos-de-cafe-al-calor-del-tostado/ /pt/noticia/como-reaccionan-los-granos-de-cafe-al-calor-del-tostado-3938
Redirect 301 /es/consumo-de-cafe-estados-unidos-lidera-el-ranking-y-brasil-esta-a-la-cabeza-en-produccion/ /pt/noticia/consumo-de-cafe-estados-unidos-lidera-el-ranking-y-brasil-esta-a-la-cabeza-en-produccion-3961

Redirect 301 /es/cuales-son-los-beneficios-para-la-salud-del-cafe-de-especialidad/ /pt/noticia/cuales-son-los-beneficios-para-la-salud-del-cafe-de-especialidad-3474
Redirect 301 /es/cultivo-de-cafe-como-influye-la-altitud-en-el-sabor/ /pt/noticia/cultivo-de-cafe-como-influye-la-altitud-en-el-sabor-3993
Redirect 301 /es/curva-de-tueste-que-es-y-como-afecta-el-sabor-del-cafe/ /pt/noticia/curva-de-tueste-que-es-y-como-afecta-el-sabor-del-cafe-3625
Redirect 301 /es/descubre-los-3-principales-metodos-de-poda-del-cafe/ /pt/noticia/descubre-los-3-principales-metodos-de-poda-del-cafe-3416
Redirect 301 /es/el-arte-del-tostado-del-cafe-un-viaje-entre-el-tiempo-la-temperatura-y-la-tecnica/ /pt/noticia/el-arte-del-tostado-del-cafe-un-viaje-entre-el-tiempo-la-temperatura-y-la-tecnica-3498
Redirect 301 /es/el-papel-de-la-humedad-en-el-proceso-de-tostado-del-cafe/ /pt/noticia/el-papel-de-la-humedad-en-el-proceso-de-tostado-del-cafe-3812
Redirect 301 /es/el-papel-de-la-molienda-en-el-perfil-sensorial-del-cafe/ /pt/noticia/el-papel-de-la-molienda-en-el-perfil-sensorial-del-cafe-3949
Redirect 301 /es/el-papel-de-la-molienda-en-el-sabor-del-cafe/ /pt/noticia/el-papel-de-la-molienda-en-el-sabor-del-cafe-3438
Redirect 301 /es/explorando-el-universo-de-los-cafes-especiales-y-sus-certificaciones/ /pt/noticia/explorando-el-universo-de-los-cafes-especiales-y-sus-certificaciones-3449

Redirect 301 /es/granos-de-cafe-descubre-algunos-que-se-producen-en-brasil/ /pt/noticia/granos-de-cafe-descubre-algunos-que-se-producen-en-brasil-3699
Redirect 301 /es/granos-de-cafe-descubre-los-principales-tipos/ /pt/noticia/granos-de-cafe-descubre-los-principales-tipos-3540
Redirect 301 /es/la-ciencia-del-agua-en-el-cafe-como-la-calidad-del-agua-afecta-el-sabor-del-cafe/ /pt/noticia/la-ciencia-del-agua-en-el-cafe-como-la-calidad-del-agua-afecta-el-sabor-del-cafe-3510
Redirect 301 /es/la-evolucion-de-los-tostadores-de-cafe/ /pt/noticia/la-evolucion-de-los-tostadores-de-cafe-4009
Redirect 301 /es/la-importancia-de-almacenar-el-cafe-correctamente/ /pt/noticia/la-importancia-de-almacenar-el-cafe-correctamente-3663
Redirect 301 /es/mezcla-vs-origen-unico-cual-es-la-diferencia/ /pt/noticia/mezcla-vs-origen-unico-cual-es-la-diferencia-3376
Redirect 301 /es/mujeres-en-puestos-de-liderazgo-en-la-produccion-de-cafe/ /pt/noticia/mujeres-en-puestos-de-liderazgo-en-la-produccion-de-cafe-3756

Redirect 301 /es/preparacion-del-cafe-colador-de-tela-y-filtro-de-papel/ /pt/noticia/preparacion-del-cafe-colador-de-tela-y-filtro-de-papel-3593
Redirect 301 /es/produccion-de-cafe-quien-es-el-mayor-productor-del-mundo/ /pt/noticia/produccion-de-cafe-quien-es-el-mayor-productor-del-mundo-3676

Redirect 301 /es/productos/automatizacion-industrial/ /es/produtos
Redirect 301 /es/productos/hornos-ecologicos/ /es/produto/Horno-ecologico-para-tostadores-de-cafe-SIATEC-13
Redirect 301 /es/productos/maquina-de-reprocesamiento/ /es/produtos/
Redirect 301 /es/productos/molino/ /es/produto/Molienda-con-cuchilla-automatizada-9
Redirect 301 /es/productos/silos-de-almacenamiento/ /es/produto/Sil-os-de-almacenamiento-14
Redirect 301 /es/productos/tostadores/ /es/produto/Tostadores-para-linea-de-cafe-de-especialidad-12
Redirect 301 /es/puntuacion-de-cafes-especiales-que-es-y-como-funciona/ /pt/noticia/puntuacion-de-cafes-especiales-que-es-y-como-funciona-3648
Redirect 301 /es/que-es-coffee-to-go/ /pt/noticia/que-es-coffee-to-go-3995
Redirect 301 /es/que-es-coffee-to-go/ /es/noticia/que-es-coffee-to-go-3995
Redirect 301 /es/que-es-el-crack-en-el-tueste-del-cafe-y-por-que-es-importante/ /pt/noticia/que-es-el-crack-en-el-tueste-del-cafe-y-por-que-es-importante-3826
Redirect 301 /es/que-son-los-granos-de-cafe-moca/ /pt/noticia/que-son-los-granos-de-cafe-moca-4022
Redirect 301 /es/sabes-que-son-los-granos-de-cafe-moca/ /pt/noticia/sabes-que-son-los-granos-de-cafe-moca-3744
Redirect 301 /es/sebastiana-pimentel-la-revolucion-de-la-caficultura-brasilena/ /pt/noticia/sebastiana-pimentel-la-revolucion-de-la-caficultura-brasilena-3768

Redirect 301 /es/tostacion-de-cafe-el-impacto-de-la-calidad-del-tueste-en-el-mercado-gourmet/ /pt/noticia/tostacion-de-cafe-el-impacto-de-la-calidad-del-tueste-en-el-mercado-gourmet-3614
Redirect 301 /es/tostado-de-cafe-aprenda-que-hacer-para-aumentar-el-rendimiento-de-la-produccion/ /pt/noticia/tostado-de-cafe-aprenda-que-hacer-para-aumentar-el-rendimiento-de-la-produccion-3733
Redirect 301 /es/tostado-de-cafe-conceptos-generales-y-transferencia-de-calor/ /pt/noticia/tostado-de-cafe-conceptos-generales-y-transferencia-de-calor-3695
Redirect 301 /es/tostado-de-cafe-que-sucede-entre-el-punto-de-inflexion-y-el-primer-crack/ /pt/noticia/tostado-de-cafe-que-sucede-entre-el-punto-de-inflexion-y-el-primer-crack-4049
Redirect 301 /es/tostador-de-cafe-que-considerar-antes-de-comprar-el-equipo/ /pt/noticia/tostador-de-cafe-que-considerar-antes-de-comprar-el-equipo-3974
Redirect 301 /explorando-o-universo-dos-cafes-especiais-e-suas-certificacoes/ /pt/noticia/explorando-o-universo-dos-cafes-especiais-e-suas-certificacoes-3441

Redirect 301 /graos-de-cafe-conheca-alguns-que-sao-produzidos-no-brasil/ /pt/noticia/graos-de-cafe-conheca-alguns-que-sao-produzidos-no-brasil-3685
Redirect 301 /graos-de-cafe-conheca-os-principais-tipos/ /pt/noticia/graos-de-cafe-conheca-os-principais-tipos-3531
Redirect 301 /jornada-sensorial-do-cafe-como-o-recipiente-pode-alterar-a-experiencia-da-bebida/ /pt/noticia/jornada-sensorial-do-cafe-como-o-recipiente-pode-alterar-a-experiencia-da-bebida-3340
Redirect 301 /mulheres-na-lideranca-da-cafeicultura/ /pt/noticia/mulheres-na-lideranca-da-cafeicultura-3747
Redirect 301 /o-cenario-da-cafeicultura-mundial/ /pt/noticia/o-cenario-da-cafeicultura-mundial-2512
Redirect 301 /o-guia-do-torrador-perfeito-como-posso-escolher-meu-torrador/ /pt/noticia/o-guia-do-torrador-perfeito-como-posso-escolher-meu-torrador-3477
Redirect 301 /o-papel-da-moagem-no-perfil-sensorial-do-cafe/ /pt/noticia/o-papel-da-moagem-no-perfil-sensorial-do-cafe-3941
Redirect 301 /o-papel-da-moagem-no-sabor-do-cafe/ /pt/noticia/o-papel-da-moagem-no-sabor-do-cafe-3430
Redirect 301 /o-papel-da-umidade-no-processo-de-torra-do-cafe/ /pt/noticia/o-papel-da-umidade-no-processo-de-torra-do-cafe-3798
Redirect 301 /o-papel-fundamental-das-maquinas-para-as-industrias-de-torrefacao-de-cafe/ /pt/noticia/o-papel-fundamental-das-maquinas-para-as-industrias-de-torrefacao-de-cafe-3292
Redirect 301 /o-que-e-coffee-to-go/ /pt/noticia/o-que-e-coffee-to-go-3982
Redirect 301 /o-que-e-o-crack-na-torra-do-cafe-e-qual-sua-importancia/ /pt/noticia/o-que-e-o-crack-na-torra-do-cafe-e-qual-sua-importancia-3815
Redirect 301 /o-que-sao-os-graos-de-cafe-moca/ /pt/noticia/o-que-sao-os-graos-de-cafe-moca-4014

Redirect 301 /politica-de-privacidade/ /pt/noticia/cuales-son-los-beneficios-para-la-salud-del-cafe-de-especialidad-3474
Redirect 301 /pontuacao-do-cafe-especial-o-que-e-e-como-funciona/ /pt/noticia/pontuacao-do-cafe-especial-o-que-e-e-como-funciona-3642
Redirect 301 /por-que-o-brasil-se-tornou-o-maior-produtor-mundial-de-cafe/ /pt/noticia/por-que-o-brasil-se-tornou-o-maior-produtor-mundial-de-cafe-2510
Redirect 301 /preparo-do-cafe-coador-de-pano-e-filtro-de-papel/ /pt/noticia/preparo-do-cafe-coador-de-pano-e-filtro-de-papel-3587
Redirect 301 /producao-de-cafe-quem-e-o-maior-produtor-do-mundo/ /pt/noticia/producao-de-cafe-quem-e-o-maior-produtor-do-mundo-3666
Redirect 301 /produtos/automacao-industrial/ /pt/produtos
Redirect 301 /produtos/fornalhas-ecologicas/ /pt/produto/Fornalha-ecologica-para-torradores-de-cafe-SIATEC-6
Redirect 301 /produtos/maquina-de-reprocesso/ /pt/produtos
Redirect 301 /produtos/moinho/ /pt/produto/Moagem-a-lamina-automatizado-2
Redirect 301 /produtos/silos-de-armazenagem/ /pt/produto/Silos-de-armazenagem-7
Redirect 301 /produtos/silos-de-armazenagem/ /pt/produto/Silos-de-armazenagem-7
Redirect 301 /produtos/torradores/ /pt/produto/Torradores-para-linha-de-cafe-especial-5
Redirect 301 /puntuacion-de-cafes-especiales-que-es-y-como-funciona/feed/ /pt/noticia/
Redirect 301 /qawah-como-a-palavra-cafe-se-formou-e-se-espalhou-pelo-mundo/ /pt/noticia/qawah-como-a-palavra-cafe-se-formou-e-se-espalhou-pelo-mundo-3257
Redirect 301 /quais-sao-os-beneficios-do-cafe-especial-para-a-saude/ /pt/noticia/quais-sao-os-beneficios-do-cafe-especial-para-a-saude-3464
Redirect 301 /saiba-como-e-formado-o-sabor-do-cafe/ /pt/noticia/saiba-como-e-formado-o-sabor-do-cafe-3776
Redirect 301 /sebastiana-pimentel-a-revolucao-na-cafeicultura-brasileira/ /pt/noticia/sebastiana-pimentel-a-revolucao-na-cafeicultura-brasileira-3761
Redirect 301 /torra-de-cafe-o-impacto-da-qualidade-da-torra-no-mercado-gourmet/ /pt/noticia/torra-de-cafe-o-impacto-da-qualidade-da-torra-no-mercado-gourmet-3603
Redirect 301 /torra-de-cafe-o-que-acontece-entre-o-turning-point-e-o-first-crack/ /pt/noticia/torra-de-cafe-o-que-acontece-entre-o-turning-point-e-o-first-crack-4040
Redirect 301 /torra-do-cafe-conceitos-gerais-e-a-transferencia-de-calor/ /pt/noticia/torra-do-cafe-conceitos-gerais-e-a-transferencia-de-calor-3679
Redirect 301 /torrador-de-cafe-o-que-considerar-antes-de-comprar-o-equipamento/ /pt/noticia/torrador-de-cafe-o-que-considerar-antes-de-comprar-o-equipamento-3965
Redirect 301 /torrefacao-de-cafe-saiba-o-que-fazer-para-aumentar-o-rendimento-da-producao/ /pt/noticia/torrefacao-de-cafe-saiba-o-que-fazer-para-aumentar-o-rendimento-da-producao-3724
Redirect 301 /voce-sabe-o-que-sao-os-graos-de-cafe-moca/ /pt/noticia/voce-sabe-o-que-sao-os-graos-de-cafe-moca-3737
Redirect 301 /produtos/ /pt/produtos
Redirect 301 /servicos/ /pt/servicos
Redirect 301 /sobre/ /pt/quem-somos
Redirect 301 /es/productos/ /es/produtos
Redirect 301 /es/servicios/ /es/servicos
Redirect 301 /es/sobre/ /es/quem-somos
Redirect 301 /blog/ /pt/noticias
Redirect 301 /blog/page/6/ /pt/noticias
Redirect 301 /en/products/ /en/produtos
Redirect 301 /en/financing/ /en#financeamento
Redirect 301 /en/contact/ /en#contato
Redirect 301 /en/about-us/ /en/quem-somos
Redirect 301 /cotacao/ /pt#contato
Redirect 301 /contato/ /pt#contato
Redirect 301 /contato/ /pt#contato
Redirect 301 /cotacao/es/ /es#contato
Redirect 301 /financiamento/ /es#financeamento
Redirect 301 /obrigado/ /pt#contato
Redirect 301 /es/politica-de-privacidad/ /es/pagina/politica-de-privacidad
Redirect 301 /es/financiacion/ /es#financeamento
Redirect 301 /es/gracias/ /es#contato
Redirect 301 /es/contacto/ /es#contato
Redirect 301 /es/blog/page/3/ /es/noticias
Redirect 301 /es/blog/page/5/ /es/noticias
Redirect 301 /en/services/ /en/servicos

Redirect 301 /author/thaiswsi/page/1/ /pt/noticias
Redirect 301 /author/thaiswsi/page/2/ /pt/noticias
Redirect 301 /author/thaiswsi/page/3/ /pt/noticias
Redirect 301 /author/thaiswsi/page/4/ /pt/noticias
Redirect 301 /author/thaiswsi/page/5/ /pt/noticias
Redirect 301 /author/thaiswsi/page/6/ /pt/noticias
Redirect 301 /author/thaiswsi/page/8/ /pt/noticias


# Use the front controller as index file. It serves as a fallback solution when
# every other rewrite/redirect fails (e.g. in an aliased environment without
# mod_rewrite). Additionally, this reduces the matching process for the
# start page (path "/") because otherwise Apache will apply the rewriting rules
# to each configured DirectoryIndex file (e.g. index.php, index.html, index.pl).
DirectoryIndex index.php

# By default, Apache does not evaluate symbolic links if you did not enable this
# feature in your server configuration. Uncomment the following line if you
# install assets as symlinks or if you experience problems related to symlinks
# when compiling LESS/Sass/CoffeScript assets.
# Options +SymLinksIfOwnerMatch

# Disabling MultiViews prevents unwanted negotiation, e.g. "/index" should not resolve
# to the front controller "/index.php" but be rewritten to "/index.php/index".
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    # This Option needs to be enabled for RewriteRule, otherwise it will show an error like
    # 'Options FollowSymLinks or SymLinksIfOwnerMatch is off which implies that RewriteRule directive is forbidden'
    # Options +SymLinksIfOwnerMatch

    RewriteEngine On

    # Determine the RewriteBase automatically and set it as environment variable.
    # If you are using Apache aliases to do mass virtual hosting or installed the
    # project in a subdirectory, the base path will be prepended to allow proper
    # resolution of the index.php file and to redirect to the correct URI. It will
    # work in environments without path prefix as well, providing a safe, one-size
    # fits all solution. But as you do not need it in this case, you can comment
    # the following 2 lines to eliminate the overhead.
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Sets the HTTP_AUTHORIZATION header removed by Apache
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Redirect to URI without front controller to prevent duplicate content
    # (with and without `/index.php`). Only do this redirect on the initial
    # rewrite by Apache and not on subsequent cycles. Otherwise we would get an
    # endless redirect loop (request -> rewrite to front controller ->
    # redirect -> request -> ...).
    # So in case you get a "too many redirects" error or you always get redirected
    # to the start page because your Apache does not expose the REDIRECT_STATUS
    # environment variable, you have 2 choices:
    # - disable this feature by commenting the following 2 lines or
    # - use Apache >= 2.3.9 and replace all L flags by END flags and remove the
    #   following RewriteCond (best solution)
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    # Rewrite all other queries to the front controller.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 307 ^/$ /index.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>


